body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
  display: flex;
}
.headerDiv {
  font-size: 50px;
  width: 100%;
  height: 70px;
}
.logoutBtn {
  font-size: 25px;
  float: right;
  margin-top: -35px;
  margin-right: 10px;
}
.leftDiv {
  width: 40%;
  height: 600px;
  padding-top: 20px;
}

.addTodoHeader {
  font-size: 35px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titleDiv1 {
  font-size: 30px;
  margin-left: 10px;
  padding-bottom: 10px;
}
.descriptionArea {
  font-size: 30px;
  margin-left: 10px;
  padding: 10px;
}

.addTodoBtn {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 220px;
  border-radius: 5px;
}

.selectTodo {
  justify-content: center;
  display: flex;
  padding: 40px;
}

.selectLabel {
  font-size: 25px;
  margin-top: -10px;
  padding: 10px;
}

.modifyTodo {
  padding-top: 30px;
}

.editTodoBtn {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

.deleteTodoBtn {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 20px;
}

.rightDiv {
  margin-top: 20px;
  /* border: 2px solid black; */
  width: 60%;
  margin-left: 20px;
  height: 625px;
  padding-top: 50px;
  pointer-events: none;
}

.addItemsBtn {
  font-size: 25px;
  margin-top: 420px;
  /* margin-left: 650px; */
  border-radius: 5px;
}

.addItemBtn {
  font-size: 25px;
  margin-top: 30px;
  /* margin-left: 20px; */
  border-radius: 5px;
}

.inputItemsDiv {
  padding-top: 50px;
  height: 325px;
  overflow: scroll;
}

.listTitle {
  height: 20px;
  width: 200px;
  font-size: 18px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin-left: 70px;
}

.listDescription {
  font-size: 18px;
  margin-left: 160px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.selectBox {
  height: 30px;
  width: 200px;
  font-size: 18px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.titleDiv {
  margin-top: -50px;
  font-size: 80px;
  text-align: center;
  padding-bottom: 10px;
}
.descriptionDiv {
  font-size: 50px;
  text-align: center;
}
.listInputs {
  display: inline;
}
.itemsDiv {
  font-size: 30px;
  margin-left: 110px;
}

.listsData {
  height: 20px;
  width: 200px;
  font-size: 20px;
}
