html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  height: 10%;
  width: 100%;

  line-height: 3;
  border-bottom: 1px solid black;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 25px;
  border-radius: 15px;
  background-color: #0088cc;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  width: 100px;
}

.button:focus {
  outline: none;
}

.headerDiv {
  margin-left: 10px;
  display: flex;
}

.leftSection {
  width: 40%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.rightSection {
  width: 60%;
  /* height: 100%; */
  margin-top: 10px;
  border: 1px solid skyblue;
  border-radius: 20px;
  box-shadow: 0px 2px 31px -5px rgba(161, 198, 227, 0.78);
}

.mainSection {
  /* height: 90%; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.todos {
  height: 350px;
  width: 550px;
  border: 1px solid skyblue;
  margin: 0px 5px 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 31px -5px rgba(161, 198, 227, 0.78);
}

.add-todo {
  height: 350px;
  width: 550px;
  border: 1px solid skyblue;
  margin: 5px 5px 0px 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 31px -5px rgba(161, 198, 227, 0.78);
}

.todo-info {
  height: 40%;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.edit-todo {
  height: 400px;
  width: 850px;
  display: flex;
}

.add-item {
  height: 365px;
  width: 700px;
  margin: 10px;
  border-radius: 20px;
  overflow: scroll;
}

.save-button-div {
  height: 365px;
  width: 150px;
  margin: 10px;
  border-radius: 20px;
}

.sub-header {
  height: 20%;
  width: 100%;

  line-height: 2.5;
  border-bottom: 1px solid skyblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.select-box {
  margin-top: 50px;
  height: 40px;
  width: 400px;
  border: 1px solid skyblue;
  font-size: 25px;
  font-family: inherit;
}

.select-box:focus {
  outline: none;
}

.todo-btns {
  margin-top: 120px;
}

.textbox {
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  font-size: 25px;
  width: 90%;
  margin: 25px 0;
  border: none;
  border-bottom: 1px solid skyblue;
}

.textbox:focus {
  outline: none;
}

.add-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.add-button {
  font-family: inherit;
  font-weight: inherit;
  width: 70%;
  height: 45px;
  font-size: 25px;
  border-radius: 20px;
  margin-top: 40px;
  background-color: #0088cc;
  color: white;
}

.add-button:focus {
  outline: none;
}

.todo-title {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
}

.todo-description {
  height: 35px;
  width: 600px;
  font-size: 35px;
  text-align: center;
}

.item-textbox {
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  font-size: 25px;
  width: 70%;
  margin: 25px 0;
  border: none;
  border-bottom: 1px solid skyblue;
}

.item-textbox:focus {
  outline: none;
}

.new-item {
  display: flex;
  justify-content: space-between;
}

.add-item-btn {
  font-family: inherit;
  font-weight: inherit;
  width: 200px;
  height: 45px;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #0088cc;
  color: white;
}

.add-item-btn:focus {
  outline: none;
}

.checkBox {
  zoom: 3.5;
  margin-left: 50px;
}

.listsData {
  font-family: inherit;
  font-size: 25px;
}

.item-label:hover {
  cursor: pointer;
}

.delete-btn {
  font-family: inherit;
  font-weight: inherit;
  width: 100px;
  height: 45px;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #0088cc;
  color: white;
}

.delete-btn:focus {
  outline: none;
}

.save-btn {
  font-family: inherit;
  font-weight: inherit;
  width: 100px;
  height: 45px;
  font-size: 25px;
  margin-top: 320px;
  margin-left: 23px;
  border-radius: 20px;
  background-color: #0088cc;
  color: white;
}

.save-btn:focus {
  outline: none;
}
