main {
  text-align: center;
  font-size: 25px;
  background-color: #a5a9d6;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin-left: 500px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: #f1f8ff;
}

.inputForm {
  padding: 40px;
}

.userId {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.password {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signUpBtn {
  height: 40px;
  width: 90px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #f1f8ff;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
